In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("data/tod_imt.csv",skiprows=[0,1,4,5],sep="^")

In [3]:
df.head()

,28238,1 hours,DESKTOP-5NOI69V,15,29-08-2023 09:43:42 AM,29-08-2023 02:43:55 PM,Noise Riding 30 dB,Fixed: 5 hours,Chaiyaphum,No,15.788741,102.028173,Vertical Ref,Vertical
0,Channel No.,Frequency (MHz),Time of Day,Occupancy (%),Field Strength (dBuV/m),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,756.000000,10:43:42 AM,0,---,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1,756.000000,11:43:42 AM,0,---,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1,756.000000,12:43:42 PM,0,---,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1,756.000000,01:43:42 PM,0,---,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
#drop columns
df.drop(['28238','29-08-2023 02:43:55 PM','Noise Riding 30 dB','Fixed: 5 hours','Chaiyaphum','No','15.788741','102.028173','Vertical Ref','Vertical'],axis=1,inplace=True)

In [5]:
df.head()

           1 hours DESKTOP-5NOI69V             15   29-08-2023 09:43:42 AM
0  Frequency (MHz)     Time of Day  Occupancy (%)  Field Strength (dBuV/m)
1       756.000000     10:43:42 AM              0                      ---
2       756.000000     11:43:42 AM              0                      ---
3       756.000000     12:43:42 PM              0                      ---
4       756.000000     01:43:42 PM              0                      ---

In [6]:
# Rename columns
new_df = df.rename(columns={
    '1 hours': 'Frequency (MHz)',
    'DESKTOP-5NOI69V': 'Time of Day',
    '15': 'Occupancy (%)',
    '29-08-2023 09:43:42 AM': 'Field Strength (dBuV/m)'
})

In [7]:
#remove row 
new_df.drop([0],axis=0,inplace=True)

In [8]:
new_df.head()

  Frequency (MHz)  Time of Day Occupancy (%) Field Strength (dBuV/m)
1      756.000000  10:43:42 AM             0                     ---
2      756.000000  11:43:42 AM             0                     ---
3      756.000000  12:43:42 PM             0                     ---
4      756.000000  01:43:42 PM             0                     ---
5      756.000000  02:43:42 PM             0                     ---

In [9]:
new_df['Time of Day']=pd.to_datetime(new_df['Time of Day']).dt.time 
new_df['Time of Day'] = new_df['Time of Day'].apply(lambda x: x.hour * 60 + x.minute)

/var/folders/79/xvp0r4gn09bd1hlz0lt16db80000gn/T/ipykernel_2974/319186960.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  new_df['Time of Day']=pd.to_datetime(new_df['Time of Day']).dt.time

In [10]:
new_df.head()

  Frequency (MHz)  Time of Day Occupancy (%) Field Strength (dBuV/m)
1      756.000000          643             0                     ---
2      756.000000          703             0                     ---
3      756.000000          763             0                     ---
4      756.000000          823             0                     ---
5      756.000000          883             0                     ---

In [11]:
#convert type of columns
new_df['Frequency (MHz)']=new_df['Frequency (MHz)'].astype(float)
new_df['Occupancy (%)']=new_df['Occupancy (%)'].astype(int)

In [12]:
#check is there any null value or value is not a number
new_df.isnull().sum()

Frequency (MHz)            0
Time of Day                0
Occupancy (%)              0
Field Strength (dBuV/m)    0
dtype: int64

In [13]:
new_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16120 entries, 1 to 16120
Data columns (total 4 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Frequency (MHz)          16120 non-null  float64
 1   Time of Day              16120 non-null  int64
 2   Occupancy (%)            16120 non-null  int64
 3   Field Strength (dBuV/m)  16120 non-null  object
dtypes: float64(1), int64(2), object(1)
memory usage: 503.9+ KB

In [14]:
#if column Field Strength (dBuV/m) is --- change to 0 
new_df['Field Strength (dBuV/m)']=new_df['Field Strength (dBuV/m)'].apply(lambda x: 0 if x=='---' else x)

In [15]:
#sum value of column Field Strength (dBuV/m) 
new_df['Field Strength (dBuV/m)']=new_df['Field Strength (dBuV/m)'].astype(int)

In [16]:
new_df.describe()

       Frequency (MHz)   Time of Day  Occupancy (%)  Field Strength (dBuV/m)
count     16120.000000  16120.000000   16120.000000             16120.000000
mean       1722.900000    763.000000       2.317370                 2.217928
std         558.430475     84.855446      14.932801                13.641942
min         756.000000    643.000000       0.000000                 0.000000
25%        1239.450000    703.000000       0.000000                 0.000000
50%        1722.900000    763.000000       0.000000                 0.000000
75%        2206.350000    823.000000       0.000000                 0.000000
max        2689.800000    883.000000     100.000000                94.000000

In [17]:
#check duplicate value
#new_df['Frequency (MHz)'].duplicated().sum()

In [18]:
#filter data by occupancy >0
#new_df=new_df[new_df['Occupancy (%)']>0]

In [19]:
#export csv 
new_df.to_csv('data/tod_imt_clean_1.csv',index=False)