In [2]:
from pythainlp.util import normalize 
import pandas as pd

In [10]:
df = pd.read_csv("clean_text.csv", encoding="utf-8")

In [12]:
df.drop("Unnamed: 0", axis=1, inplace=True)

In [14]:
df.head()

                                          tweet_text  is_toxic
0  วันๆ นี่คุยกะหมา แมว หมู ไก่ ม้า ควาย มากกว่าค...         0
1        หล่อมากกก หล่อวัวตายควายล้มกันเลยทีเดียวววว         0
2  สิวเหี้ยไรขึ้นหลังหู เสียชาติเกิดมั้ย เกิดมามั...         0
3  อ่ะ ป่วยก็ป่วย งานจ้างก็ต้องทำ งานเรียนก็ต้องท...         0
4  นี่ก็เพิ่งรู้ว่า เกิดชาตินี้ชาติเดียว เป็นทั้ง...         1

In [15]:
df['tweet_text'] = df['tweet_text'].apply(normalize)

In [16]:
df.head()

                                          tweet_text  is_toxic
0  วันๆ นี่คุยกะหมา แมว หมู ไก่ ม้า ควาย มากกว่าค...         0
1        หล่อมากกก หล่อวัวตายควายล้มกันเลยทีเดียวววว         0
2  สิวเหี้ยไรขึ้นหลังหู เสียชาติเกิดมั้ย เกิดมามั...         0
3  อ่ะ ป่วยก็ป่วย งานจ้างก็ต้องทำ งานเรียนก็ต้องท...         0
4  นี่ก็เพิ่งรู้ว่า เกิดชาตินี้ชาติเดียว เป็นทั้ง...         1